/*
 * MacPorts Guide Stylesheet
 */

/*
   CSS design by Mark Duling

   This print.css version adapted by Darren Weber
   To be used with a style link attribute: media="print"
   <link href="print.css" media="print" rel="stylesheet" type="text/css" />
*/

div.mediaobject {
        text-align: center;
        margin: auto;
        border: thin black inset;
}

.emphasis { font-weight: bold ; }

a:link { color: #6298E5; text-decoration: none; }
a:visited { color: #6298E5; text-decoration: none;}
a:hover { text-decoration: underline; }
 
.filename { color: #8B1A1A; }

span.term { font-weight: bold; }

span.guilabel { font-weight: bold; }

span.guimenu { font-weight: bold; }

.programlisting {
	font-family: monospace;
	font-size: medium;
	background-color: #E6E6E6;
	border: thin black inset }

.literallayout {
	font-family: monospace;
}

.screen {
	font-family: monospace;
	font-size: medium;
	border: thin black inset;
	background-color: white; }

div.screenshot div.mediaobject {
	text-align: center;
	margin: auto }

body {
   font-family: Verdana, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.4;
   color: #696969;
}

div.note h3.title { color: #C00; }

.author {
	font-size: 14px;
	color: #6298E5;
	font-weight: bold;
}

.copyright {
	font-size: 12px;
	font-family: times;
}

div.book div.titlepage h1 {
	font-family: Verdana, Arial, Utopia, sans-serif;
        font-size: 24pt;
	color: black;
	font-weight: bold;
	text-align: left;
}

div.book div.titlepage h2 {
        font-family: Verdana, Arial, Utopia, sans-serif;
        font-size: 18pt;
	color: black;
        font-weight: bold;
        text-align: left;
}

div.section div.titlepage h2 {
	font-family: Verdana, Arial, Utopia, sans-serif;
        font-size: 16pt;
        color: black;
	text-align: left;
}

div.section div.titlepage h3 {
        font-family: Verdana, Arial, Utopia, sans-serif;
        font-size: 14pt;
        color: black;
        font-weight: bold;
	text-align: left;   
}

div.section div.titlepage h4 {
        font-family: Verdana, Arial, Utopia, sans-serif;
        font-size: 12pt;
        color: black;
        font-weight: bold;
        text-align: left;
}

p { margin-bottom: 14pt; }



/* ALL TOC STYLES BELOW */

div.toc {
    /* For print style, remove TOC */
    display: none;
	width: 0px;
}

div.book {
	margin-left: 2px;
}

.navheader {
    display: none;
    height: 0px;
    width: 0px;
}

.navfooter {
    display: none;
    height: 0px;
    width: 0px;
}

